In [1]:
import pandas as pd

df = pd.read_csv('data/news.csv')
df.head()

,company,title,text,published
0,MMM,3M Sees Growth as Economy Reopens,"For 2021, 3M said it expects revenue excluding...",2021-01-27 00:00:00.000
1,MMM,Technology: 3M Sees Growth as Economy Reop...,3M Co. said it expects sales across its pro...,2021-01-27 07:06:00.000
2,MMM,U.S. News: Millions Of Masks Seized Last Year,"Other items intercepted included nearly 37,000...",2021-02-05 00:00:00.000
3,MMM,U.S. News: Millions Of Masks Seized Last Y...,WASHINGTON -- U.S. Customs agents seized ne...,2021-02-05 07:13:00.000
4,MMM,Counterfeit N95 Masks Seized From Warehouse,"Authorities said the warehouse was ""an elabora...",2021-02-12 00:00:00.000

In [2]:
#print distinct company
print(df['company'].unique())

['MMM' 'AXP' 'AMGN' 'AAPL' 'BA' 'CAT' 'CVX' 'CSCO' 'KO' 'DOW' 'GS' 'HD'
 'HON' 'INTC' 'IBM' 'JPM' 'JNJ' 'MCD' 'MRK' 'MSFT' 'NKE' 'PG' 'CRM' 'DIS'
 'TRV' 'UNH' 'VZ' 'V' 'WBA' 'WMT']

In [3]:
import yfinance as yf

stocks = ['MMM', 'AXP', 'AMGN', 'AAPL', 'BA', 'CAT', 'CVX', 'CSCO', 'KO', 'DOW', 'GS', 'HD', 'HON', 'INTC', 'IBM', 'JPM', 'JNJ', 'MCD', 'MRK', 'MSFT', 'NKE', 'PG', 'CRM', 'DIS', 'TRV', 'UNH', 'VZ', 'V', 'WBA', 'WMT']
data = yf.download(stocks, start="2020-01-01", end="2022-12-31")

[*********************100%%**********************]  30 of 30 completed

In [4]:
#Create a new dataframe with only the closing prices
df_close = data['Close']
df_close = df_close.reset_index()
df_close = df_close.rename(columns={'index':'Date'})
#Select only AAPL
df_AAPL = df_close[['Date','AAPL']]

In [5]:
df_AAPL

          Date        AAPL
0   2020-01-02   75.087502
1   2020-01-03   74.357498
2   2020-01-06   74.949997
3   2020-01-07   74.597504
4   2020-01-08   75.797501
..         ...         ...
751 2022-12-23  131.860001
752 2022-12-27  130.029999
753 2022-12-28  126.040001
754 2022-12-29  129.610001
755 2022-12-30  129.929993

[756 rows x 2 columns]

In [6]:
AAPL_news = df[df['company'] == 'AAPL']

In [8]:
#Take 15 lines at random
AAPL_news = AAPL_news.sample(15)

In [9]:
AAPL_news

,company,title,text,published
11247,AAPL,Snap Posts First Profit as It Adjusts to Apple...,The social-media company's shares were hit har...,2022-02-03 21:12:00.000
21604,AAPL,China Turns to Well-Worn Playbook to Keep Prot...,The carrot-and-stick approach comes from a wel...,2022-12-02 12:39:00.000
21474,AAPL,"Dow turns higher, S&P 500 flat in afternoon tr...",How are stocks are trading* S&amp;P 500 SPX de...,2022-11-29 19:19:00.000
10915,AAPL,"Apple, Robinhood, Visa, Western Digital: What ...",* Robinhood Markets reported a bigger-than-exp...,2022-01-28 14:41:00.000
22005,AAPL,Oil has crashed more than 40% from its peak. H...,"Ever the contrarian, Kevin Muir of The Macro T...",2022-12-13 13:34:00.000
3290,AAPL,Old media veterans defy critics to rally in st...,"ViacomCBS and Discovery, decades-old televisio...",2021-03-16 14:30:27.698
12224,AAPL,â€˜Shareholders really want Apple to be accounta...,Apple investors on Friday voted to support an ...,2022-03-04 20:22:00.000
8355,AAPL,Beijing's Memory Control in Hong Kong; It's no...,Originally eight people were to be tried. But ...,2021-11-09 23:26:00.000
14010,AAPL,Facebook earnings beat sends Meta stock soarin...,"Nonetheless, Meta's stock FB jumped more than ...",2022-04-27 20:34:00.000
12771,AAPL,REVIEW --- Moving Targets: Yuu ShouLd REELy Re...,I'm trying hard to figure out what's going on ...,2022-03-19 00:00:00.000
12056,AAPL,Direxion files to launch suite of single-stock...,Direxion is racing to catch up with a new leve...,2022-02-28 05:05:43.771
8660,AAPL,"Best Work Gifts 2021: Work has changed, and so...","Actually, not boring . . . essential. Essentia...",2021-11-22 00:00:00.000
13961,AAPL,"In Ukrainian Villages, Fears Grow for Men Take...",Only the wrecks of Russian tanks and army rati...,2022-04-26 14:06:00.000
21583,AAPL,Netflix stock rises as 'Wednesday' breaks reco...,"""Wednesday,"" what Netflix describes as a ""supe...",2022-12-01 17:00:00.000
6197,AAPL,How long might it take to resolve the Epic-App...,"The appeal process began in earnest Sunday, wh...",2021-09-16 12:25:00.000

In [10]:
from transformers import AutoTokenizer, AutoModelForSequenceClassification

tokenizer = AutoTokenizer.from_pretrained("Jean-Baptiste/roberta-large-financial-news-sentiment-en")
model = AutoModelForSequenceClassification.from_pretrained("Jean-Baptiste/roberta-large-financial-news-sentiment-en")

Downloading (â€¦)okenizer_config.json:   0%|          | 0.00/464 [00:00<?, ?B/s]

Downloading (â€¦)olve/main/vocab.json:   0%|          | 0.00/798k [00:00<?, ?B/s]

Downloading (â€¦)olve/main/merges.txt:   0%|          | 0.00/456k [00:00<?, ?B/s]

Downloading (â€¦)/main/tokenizer.json:   0%|          | 0.00/2.11M [00:00<?, ?B/s]

Downloading (â€¦)cial_tokens_map.json:   0%|          | 0.00/239 [00:00<?, ?B/s]

Downloading (â€¦)lve/main/config.json:   0%|          | 0.00/960 [00:00<?, ?B/s]

Downloading model.safetensors:   0%|          | 0.00/1.42G [00:00<?, ?B/s]

In [11]:
text = AAPL_news['text'].tolist()
sentiment = []
from transformers import pipeline
pipe = pipeline("text-classification", model=model, tokenizer=tokenizer)
for t in text:
    sentiment.append(pipe(t)[0]['label'])

: